body {
  background-color: #232323;
  color: #e2e2e2;
}

h1 {
  font-size: 100px;
  padding: 30px;
  font-family: sans-serif;
  font-weight: 800;
}

h1.glitch {
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  position: relative;
  font-size: 100px;
  padding: 30px;
}
h1.glitch::before, h1.glitch::after {
  padding: 30px;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
}

h1.glitch.shock::before, h1.glitch.shock::after {
  content: "😮";
}
h1.glitch.smile::before, h1.glitch.smile::after {
  content: "🙂";
}
h1.glitch.relieved::before, h1.glitch.relieved::after {
  content: "😌";
}
h1.glitch.dead::before, h1.glitch.dead::after {
  content: "😵";
}
h1.glitch.salute::before, h1.glitch.salute::after {
  content: "🫡";
}
h1.glitch::before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}
h1.glitch::after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(24px, 350px, 136px, 30px);
  }
  5% {
    clip: rect(95px, 350px, 29px, 30px);
  }
  10% {
    clip: rect(6px, 350px, 41px, 30px);
  }
  15% {
    clip: rect(7px, 350px, 3px, 30px);
  }
  20% {
    clip: rect(62px, 350px, 78px, 30px);
  }
  25% {
    clip: rect(71px, 350px, 45px, 30px);
  }
  30% {
    clip: rect(102px, 350px, 145px, 30px);
  }
  35% {
    clip: rect(64px, 350px, 64px, 30px);
  }
  40% {
    clip: rect(19px, 350px, 99px, 30px);
  }
  45% {
    clip: rect(100px, 350px, 77px, 30px);
  }
  50% {
    clip: rect(9px, 350px, 39px, 30px);
  }
  55% {
    clip: rect(133px, 350px, 57px, 30px);
  }
  60% {
    clip: rect(4px, 350px, 131px, 30px);
  }
  65% {
    clip: rect(83px, 350px, 87px, 30px);
  }
  70% {
    clip: rect(29px, 350px, 92px, 30px);
  }
  75% {
    clip: rect(74px, 350px, 56px, 30px);
  }
  80% {
    clip: rect(106px, 350px, 148px, 30px);
  }
  85% {
    clip: rect(61px, 350px, 6px, 30px);
  }
  90% {
    clip: rect(125px, 350px, 1px, 30px);
  }
  95% {
    clip: rect(63px, 350px, 85px, 30px);
  }
  100% {
    clip: rect(88px, 350px, 79px, 30px);
  }
}
@keyframes glitch-animation-2 {
  0% {
    clip: rect(64px, 350px, 14px, 30px);
  }
  5% {
    clip: rect(85px, 350px, 33px, 30px);
  }
  10% {
    clip: rect(108px, 350px, 111px, 30px);
  }
  15% {
    clip: rect(58px, 350px, 90px, 30px);
  }
  20% {
    clip: rect(100px, 350px, 60px, 30px);
  }
  25% {
    clip: rect(19px, 350px, 43px, 30px);
  }
  30% {
    clip: rect(7px, 350px, 126px, 30px);
  }
  35% {
    clip: rect(141px, 350px, 12px, 30px);
  }
  40% {
    clip: rect(76px, 350px, 111px, 30px);
  }
  45% {
    clip: rect(150px, 350px, 136px, 30px);
  }
  50% {
    clip: rect(26px, 350px, 11px, 30px);
  }
  55% {
    clip: rect(20px, 350px, 99px, 30px);
  }
  60% {
    clip: rect(84px, 350px, 10px, 30px);
  }
  65% {
    clip: rect(133px, 350px, 128px, 30px);
  }
  70% {
    clip: rect(41px, 350px, 148px, 30px);
  }
  75% {
    clip: rect(136px, 350px, 134px, 30px);
  }
  80% {
    clip: rect(102px, 350px, 60px, 30px);
  }
  85% {
    clip: rect(76px, 350px, 81px, 30px);
  }
  90% {
    clip: rect(72px, 350px, 24px, 30px);
  }
  95% {
    clip: rect(100px, 350px, 129px, 30px);
  }
  100% {
    clip: rect(11px, 350px, 24px, 30px);
  }
}

.scanlines {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
  background-size: 100% 4px;
  -webkit-animation: scanlines 2s steps(60) infinite;
          animation: scanlines 2s steps(60) infinite;
  color: transparent;
  background-clip: text;
}
.scanlines2 {
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.75;
  -webkit-animation: scanline 6s linear infinite;
          animation: scanline 6s linear infinite;
}

/* ANIMATE UNIQUE SCANLINE */
@-webkit-keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}
@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}
@-webkit-keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}
@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}

.card {
  animation: float 2s infinite alternate;
}
.holo {
  position: relative;
  z-index: 2;
  width: 50px;
  height: 5px;
  margin: -5px auto 0;
  background-color: rgba(215, 233, 47, 0.35);
  border-radius: 100%;
  filter: blur(2.5px);
  transform: perspective(100px) rotateX(-30deg);
  transform-style: preserve-3d;
  -webkit-animation: holographic 1.5s infinite alternate;
          animation: holographic 1.5s infinite alternate;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.holo:after {
  position: absolute;
  left: -10px;
  right: -10px;
  content: "";
  height: 10px;
  background-color: rgba(215, 233, 47, 0.5);
  border-radius: 100%;
  filter: blur(2.5px);
}
.holo + .holo {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  opacity: 0.5;
}

@-webkit-keyframes holographic {
  from {
    will-change: box-shadow;
    box-shadow: 0 -75px 5px rgba(215, 233, 47, 0.15), 0 -1px 2px rgba(215, 233, 47, 0.5), 0 -45px 5px rgba(215, 233, 47, 0.15), 0 -2px 3px rgba(215, 233, 47, 0.5), 0 -3px 4px rgba(215, 233, 47, 0.5), 0 -4px 6px rgba(215, 233, 47, 0.5), 0 -5px 10px rgba(215, 233, 47, 0.75), 0 -7px 20px rgba(215, 233, 47, 0.75), 0 -10px 30px rgba(215, 233, 47, 0.75), 0 -15px 40px rgba(215, 233, 47, 0.75), 0 -25px 50px rgba(215, 233, 47, 0.75), 0 -35px 60px rgba(215, 233, 47, 0.85), 0 -45px 70px rgba(215, 233, 47, 0.95), 0 -65px 80px #d7e92f, 0 -75px 90px #d7e92f;
  }
  to {
    will-change: unset;
    box-shadow: 0 -1px 5px rgba(215, 233, 47, 0.15), 0 -1px 2px rgba(215, 233, 47, 0.5), 0 -1px 5px rgba(215, 233, 47, 0.15), 0 -2px 3px rgba(215, 233, 47, 0.5), 0 -3px 4px rgba(215, 233, 47, 0.5), 0 -4px 6px rgba(215, 233, 47, 0.5), 0 -5px 7px rgba(215, 233, 47, 0.75), 0 -7px 10px rgba(215, 233, 47, 0.75), 0 -10px 15px rgba(215, 233, 47, 0.75), 0 -15px 20px rgba(215, 233, 47, 0.75), 0 -25px 25px rgba(215, 233, 47, 0.75), 0 -35px 30px rgba(215, 233, 47, 0.85), 0 -45px 35px rgba(215, 233, 47, 0.95), 0 -65px 40px #d7e92f, 0 -75px 50px #d7e92f;
  }
}
@keyframes holographic {
  from {
    will-change: box-shadow;
    box-shadow: 0 -75px 5px rgba(215, 233, 47, 0.15), 0 -1px 2px rgba(215, 233, 47, 0.5), 0 -45px 5px rgba(215, 233, 47, 0.15), 0 -2px 3px rgba(215, 233, 47, 0.5), 0 -3px 4px rgba(215, 233, 47, 0.5), 0 -4px 6px rgba(215, 233, 47, 0.5), 0 -5px 10px rgba(215, 233, 47, 0.75), 0 -7px 20px rgba(215, 233, 47, 0.75), 0 -10px 30px rgba(215, 233, 47, 0.75), 0 -15px 40px rgba(215, 233, 47, 0.75), 0 -25px 50px rgba(215, 233, 47, 0.75), 0 -35px 60px rgba(215, 233, 47, 0.85), 0 -45px 70px rgba(215, 233, 47, 0.95), 0 -65px 80px #d7e92f, 0 -75px 90px #d7e92f;
  }
  to {
    will-change: unset;
    box-shadow: 0 -1px 5px rgba(215, 233, 47, 0.15), 0 -1px 2px rgba(215, 233, 47, 0.5), 0 -1px 5px rgba(215, 233, 47, 0.15), 0 -2px 3px rgba(215, 233, 47, 0.5), 0 -3px 4px rgba(215, 233, 47, 0.5), 0 -4px 6px rgba(215, 233, 47, 0.5), 0 -5px 7px rgba(215, 233, 47, 0.75), 0 -7px 10px rgba(215, 233, 47, 0.75), 0 -10px 15px rgba(215, 233, 47, 0.75), 0 -15px 20px rgba(215, 233, 47, 0.75), 0 -25px 25px rgba(215, 233, 47, 0.75), 0 -35px 30px rgba(215, 233, 47, 0.85), 0 -45px 35px rgba(215, 233, 47, 0.95), 0 -65px 40px #d7e92f, 0 -75px 50px #d7e92f;
  }
}
@keyframes float {
  from {
    will-change: unset;
    transform: translateY(-5px);
  }
  to {
    will-change: transform;
    transform: translateY(-20px);
  }
}
